# Solana
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=84NjS3mddtNU8fcvAoeYEMzVxhuWSutTKWvAP2nWjsfk

# MagicBlock
NEXT_PUBLIC_MAGICBLOCK_RPC=https://devnet-rpc.magicblock.app
NEXT_PUBLIC_ER_ENDPOINT=https://devnet.magicblock.app
NEXT_PUBLIC_ER_VALIDATOR=MUS3hc9TCw4cGC12vHNoYcCGzJG1txjgQLZWVoeNHNd

# Supabase
DATABASE_URL=postgresql://postgres:password@localhost:5432/privatepump
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_SERVICE_KEY=your_service_role_key

# Socket.io
NEXT_PUBLIC_SOCKET_URL=http://localhost:3002
SOCKET_PORT=3002

# Pyth
NEXT_PUBLIC_PYTH_SOL_USD_FEED=H6ARHf6YXhGYeQfUzQNGk6rDNnLBQKrenN712K4AQJEG

# Admin
ADMIN_WALLET=51byRYijuqa6GMuky7VPhVydcJ7Xp6pXxDw8ts2NRn7E
